<form action="/" method="GET" class="form mb-4">
  <div class="row align-items-end">
    <div class="col">
      <label for="last_name" class="form-label">Last Name</label>
      <input type="text" name="last_name" id="last_name" class="form-control" value="<%= params[:last_name] %>" />
    </div>
    <div class="col">
      <label for="address" class="form-label">Address</label>
      <input type="text" name="address" id="address" class="form-control" value="<%= params[:address] %>" />
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>

<% if @voters %>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB (Age)</th>
        <th>Status</th>
        <th>Party</th>
        <th>Address</th>
        <th>Precinct</th>
        <th>Voting Record</th>
      </tr>
    </thead>
    <tbody>
      <% @voters.each do |voter| %>
      <tr>
        <td>
          <div><%= voter[:FIRST_NAME] %></div>
          <div class="small"><a href="/voters/<%= voter[:SOS_VOTERID] %>"><%= voter[:SOS_VOTERID] %></a></div>
        </td>
        <td>
          <div><%= voter[:LAST_NAME] %></div>
          <div>&nbsp;</div>
        </td>
        <td>
          <%= voter[:DATE_OF_BIRTH] %>
          (<%= age(voter[:DATE_OF_BIRTH]) %>)
        </td>
        <td data-toggle="tooltip" data-placement="top" title="<%= voter[:VOTER_STATUS] %>"><%= voter[:VOTER_STATUS].to_s[0, 1] %></td>
        <td class="party party--<%= voter[:PARTY_AFFILIATION] %>">
          <%= voter[:PARTY_AFFILIATION] %>
        </td>
        <td><%= voter[:RESIDENTIAL_ADDRESS1] %></td>
        <td>
          <div><%= voter[:PRECINCT_NAME].to_s.gsub("PRECINCT ", "") %></div>
          <div class="small text-muted"><%= voter[:PRECINCT_CODE] %></div>
        </td>
        <td class="small">
          <% voter.keys.grep(/general/i).sort_by {|k| Date.strptime(k.to_s.split("-").last, "%m/%d/%Y") rescue nil }.last(8).each do |f|  %>
            <span class="cursor-pointer" data-toggle="tooltip" data-placement="top" title="<%= f %>">
              <%= voter[f] ? "◉" : "○" %>
            </span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
